.interna_contato {
	background: url("../img/bg-contato.jpg") no-repeat center;
	background-size: cover;
}

/* Orçamento */

.conatato {
	padding: 40px 0;
}

.contato_form {
	padding-right: 60px;
}

.contato_form label{
	display: block;
	color: #fff;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}
