.interna_contato {
	background: url("../img/bg-contato.jpg") no-repeat center;
	background-size: cover;
}

/* Orçamento */

.conatato {
	padding: 40px 0;
}

.orcamento h2 {
	color: #fec63e;
}

.orcamento h2:after {
	background: #fec63e;
}

.form {
	padding-right: 60px;
}

.form label{
	display: block;
	color: #fff;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
}

.form input {
	display: block;
	width: 100%;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
}

.form button {
	padding: 7px 40px;
	background: none;
}

.orcamento_dados {
	color: #fff;
}

.orcamento_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
}

.orcamento_dados span {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", serif;
}

.dados_email {
	margin-bottom: 40px;
}

.orcamento_dados ul {
	padding-right: 60px
}

.orcamento_dados ul li {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	padding: 10px 15px;
}

.orcamento_dados ul li:nth-child(odd) {
	background: #1d1d1d;

}

.orcamento_dados p {
	margin: 8px 0;
}