.interna_produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produto_item {
  padding-top: 60px;
}

.produto_icone {
  background: #000;
  padding: 70px 0;
}