/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn {
	border: 3px solid #fec63e;
	padding: 10px 30px;
	color: #fec63e;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000;
}

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fec63e; /* Amarelo */
	padding: 15px 0;
	z-index: 10;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
}

.header_menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color: #FFF;
}

/* Introdução */

.introducao {
	width: 100%;
	height: 380px;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	margin-top: 96px;
	text-align: center;
	padding-top: 80px;
}

.introducao h1 {
	font-size: 48px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: white;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px auto;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
}

/*Produtos*/

.produtos {
	padding: 60px 0;
}

.produtos_lista li{
	background: #fec63e;
	text-align: center;
}

.produtos_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.produtos_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;
}

.produtos_lista li p {
	padding: 10px 20px 20px 20px;
}

.produtos_icone {
	background: #000;
	padding: 20px;
}

.call {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 20px;
}